.table-row--header{
    background: #F3F3F3;
    font-weight: 600;
}
.table{
    font-family: 'IBM Plex Sans', sans-serif;
    width: 100%;
    display: table;
    border: 1px solid #E5E5E5;
    border-collapse: collapse;
}
.table-row{
    display: table-row;
    border: 1px solid #E5E5E5;
}
.table-cell{
    display: table-cell;
    padding: 5px 10px;
    height: 30px;
    vertical-align: middle;
    border: 1px solid #E5E5E5;
    color: #364657;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}
.table-cell--mobile{
    display: none;
}
.table-cell--image{
    width: 24px;
}
.table-cell--title{
    text-align: left;
}
.table-cell__image{
    width: 24px;
    height: 24px;
    border: 1px solid #E0E0E0;
    border-radius: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.table-cell--btn{
    width: 24px;
}
.table-cell__btn{
    cursor: pointer;
    width: 24px;
    height: 24px;
    border: 1px solid #E0E0E0;
    border-radius: 50px;   
}
.table-cell__btn--remove{
    background: url(../../../images/close-up.svg) no-repeat center / 10px auto;
}
.table-row--add{
    background: #FAFAFA;
}
.table-cell__btn--add{
    background: #C6213C url(../../../images/Plus.svg) no-repeat center / 12px auto;
}

@media (min-width: 240px) and (max-width: 479px) {
    .table{
        display: flex;
        flex-wrap: wrap;
        border: 0;
    }
    .table-row{
        display: flex;
        flex-wrap: wrap;
        border: 0;
        border-left: 1px solid #E5E5E5;
        border-top: 1px solid #E5E5E5;
        margin-bottom: 30px;
    }
    .table-row--header{
        display: none;
    }
    .table-cell--mobile{
        display: flex;
        background: #F3F3F3;
        font-weight: 600;
    }
    .table-cell {
        display: flex;
        flex: 1 1 40%;
        padding: 10px 10px;
        height: auto;
        font-size: 12px;
        line-height: 16px;
        text-align: left;
        min-height: 40px;
        align-items: center;
        border: 0;
        border-right: 1px solid #E5E5E5;
        border-bottom: 1px solid #E5E5E5;
    }
    .table-cell--image{
        flex: 1 1 100%;
        display: flex;
        justify-content: space-around;
    }
    .table-cell__image {
        width: 80px;
        height: 80px;
    }
    .table-cell--btn{
        display: none;
    }
}